.game {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section {
	width: 20vw;
}

.buttons {
	width: 10vw;
}

.card {
	width: 30vw;
}

.wells {
	width: 25vw;
}

.edge {
	visibility: hidden;
}

.bottom {
	align-self: flex-end;
}