.showQns{
	display: block;
	text-align: center;
	border: 5px solid black;
	background-color:#c5e0e3;
}

.hide{
	display: none;
}

.showAns{
	display: block;
	text-align: center;
	border: 5px solid red;
	background-color:greenyellow;
}