.name{
  border: 1px solid #DDD;
  border-radius: 10px;
  padding:5px;
  transition: all 0.30s ease-in-out;
}

.name:focus {
	border: 1px solid rgba(81, 203, 238, 1);
	border-radius: 10px;
	padding:5px;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	outline: none;
}