.name{
  border: 10px solid blue;
  padding:5px;
  margin:20px;
}

.myclass{
  margin:10px;
  padding:30px;
  background-color:#c5e0e3;
}

.clicked{
  background-color:pink;

}

button {
	justify-content: center;
	margin: auto;
	display: flex;
	align-items: center;
}

p, h1 {
	justify-content: center;
	display: flex;
	align-items:center;
}

.previous {
	margin-left: auto;
}

.next {
	margin-right: auto;
}