.name{
  border: 10px solid blue;
  padding:5px;
  margin:20px;
}

.myclass{
  margin:10px;
  padding:30px;
  background-color:#c5e0e3;
}

.clicked{
  background-color:grey;

}

.show {
  display: block;
}

.hide {
  display: none;
}