html, body {
  background: url(https://images.pexels.com/photos/1097930/pexels-photo-1097930.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat center center fixed;   min-width: 700px;
  background-size: cover;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0;
}