html, body {
  background-color: white;
  max-width: 500px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
  padding:20px;
}

body > h1 {
	text-align: center;
	margin: 5% auto;

}

#app {
	max-width: 400px;
	margin: 0 auto;
}